.wrapper-infoApp-base{
    position: relative;
    width: 100%;
}

.wrapper-infoApp-base .container-infoApp-base-list{
    width: 70%;
    height: 100%;
    margin: 0 auto;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.wrapper-infoApp-base .container-infoApp-base-list .infoApp-base-object{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    text-align: center;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;

    width: calc(60%/3);
    margin: 0 calc(40%/6);
    background-color: rgba(211, 211, 211, 0.178);
    padding: 0.5vmax 0.5vmax;
    min-height: 24vmax;

}

.wrapper-infoApp-base .container-infoApp-base-list .infoApp-base-object:hover .infoApp-base-object-img{
    transform: scale(1.02);
}

.wrapper-infoApp-base .container-infoApp-base-list .infoApp-base-object .infoApp-base-object-img{
    height: 11.5vmax;
    overflow: hidden;
    border-radius: 50%;
    padding: 2vmax;
    box-shadow: 0 0 5px #00000048;
}

.wrapper-infoApp-base .container-infoApp-base-list .infoApp-base-object .infoApp-base-object-img img{
    width: 100%;
    height: 100%;
}

.wrapper-infoApp-base .container-infoApp-base-list .infoApp-base-object .infoApp-base-object-label{
    width: 100%;
    margin-top:3vmax;
    text-align: center;
    font-size:1vmax;
    
}


.wrapper-infoApp-base .container-infoApp-base-display{
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.wrapper-infoApp-base .container-infoApp-base-display >*{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;


    width: calc(93%/2);
    margin: 0 calc(7%/4) 4vmax calc(7%/4);
    background-color: rgba(211, 211, 211, 0.178);
    min-height: 24vmax;
}

.wrapper-infoApp-base .container-infoApp-base-display .infoApp-base-display-prototype{

}

.wrapper-infoApp-base .container-infoApp-base-display .infoApp-base-display-prototype img{
    width: 100%;
    height: 100%;
}

.wrapper-infoApp-base .container-infoApp-base-display .infoApp-base-display-info{
    font-size: 1.5vmax;
    height: 25vmax;
}

.wrapper-infoApp-base .container-infoApp-base-display .infoApp-base-display-info .infoApp-base-display-info-list{
    width: 100%;
    height: 80%;
    margin-top: calc(25*0.1vmax);
}