.menu-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.menu-wrapper .menu-container{
    margin-top:6vh;
    width:15em;
    overflow: hidden;
}
.menu-wrapper .sub-menu-container{
    margin-top:1vh;
    width:15em;
    overflow: hidden;
}

.menu-wrapper .menu-container .menu-option:hover,
.menu-wrapper .sub-menu-container .menu-option:hover{
    background-color: rgba(250, 235, 215, 0.15);
}

.menu-wrapper .menu-divider{
    background-color: rgba(250, 235, 215, 0.15);
    margin-top:10%;;
}

.sidenav-button{
    background-color: black;
    color:white;
}

